@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


// colours:
$primary: #EF8BC5;
$secondary: #FFB100;
$light: #FEE9EE;

// typography:
$font-family-base: "Poppins", sans-serif;
$headings-font-family: "Titan One", sans-serif;

$h1-font-size: 2.986rem;
$h2-font-size: 2.488rem;
$h3-font-size: 2.074rem;
$h4-font-size: 1.728rem;
$h5-font-size: 1.44rem;
$h6-font-size: 1rem;

$headings-color: $primary;

// navigation:
$navbar-nav-link-padding-x: 1.5rem;
$navbar-light-color: $primary;
$navbar-light-hover-color: $secondary;
$navbar-light-active-color: $secondary;
$navbar-font: "Poppins" sans-serif;

// cards:
$card-border-color: $primary;
$card-border-radius: 1rem;
$card-bg: $light;

// buttons:
$btn-padding-y: 0.1rem;
$btn-padding-x: 1rem;
$btn-font-weight: bold;
$btn-border-radius: 0.75rem;
$btn-link-color: $light;


// icons:
.star-icon {
    color: $secondary;
}

#t-logo {
    max-width: 70px;
}

.add-to-cart::before {
    font-family: "Material Icons";
    content: "shopping_cart";
    vertical-align: -15%;
    font-size: 25px;
}

.email-icon {
    font-family: "Material Icons";
    content: "email";
    color: $secondary;
    font-size: 40px;
    padding-right: 10px;
}

.call-icon {
    font-family: "Material Icons";
    content: "call";
    color: $secondary;
    font-size: 40px;
    padding-right: 10px;
}

.search-icon {
    color: $secondary;
}

.filter-icon {
    color: $primary;
    font-size: 40px;
}

.down-arrow-icon {
    color: $primary;
    font-weight: bold;
    font-size: 40px;
    vertical-align: -13%;
}

// additional css:

.banner-logo {
    max-width: 70px;
    height: auto;
}

#social-media {
    max-width: 35px;
}

input {
    color: #fff;
}

$focus-ring-color: $primary;
$input-btn-focus-color: $focus-ring-color;

#always-available .card .btn {
    position: absolute;
    bottom: 2%;
}

#holidays .card .btn {
    position: absolute;
    bottom: 2%;
}

#events .card .btn {
    position: absolute;
    bottom: 2%;
}

#custom .card .btn {
    position: absolute;
    bottom: 2%;
}

#always-available .card {
    max-width: 300px;
}

@import "../node_modules/bootstrap/scss/bootstrap";

