
// colours:
// $primary: #EF8BC5;
$primary: #FFB100;
$secondary: #FFB100;
$light: #FEE9EE;


// cards:
$card-border-color: $primary;
$card-bg: $light;

@import "../node_modules/bootstrap/scss/bootstrap";

img {
    max-width: 60px;
}